include README.md
include LICENSE
include pyproject.toml
include requirements.txt

# include type hint declaration
include src/mediawebcore/py.typed

# include templates for HTML UI
recursive-include src/mediawebcore/templates *

# include static files if you add them later
recursive-include src/mediawebcore/static *
